In [5]:
#1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla
mi_var=2
print(mi_var)

2

In [6]:
#2) Imprimir el tipo de dato de la constante 8.5
print(type(8.5))

<class 'float'>

In [7]:
#3) Imprimir el tipo de dato de la variable creada en el punto 1
print(type(mi_var))

<class 'int'>

In [8]:
#4) Crear una variable que contenga tu nombre
mi_nom="Oswaldo García"

In [20]:
#5) Crear una variable que contenga un número complejo
var_complex=369j

In [21]:
#6) Mostrar el tipo de dato de la variable crada en el punto 5
print(type(var_complex))

<class 'complex'>

In [12]:
#7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales
pi_var=3.1416

In [13]:
#8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?
var1="True"
var2=True
print(var1==var2)

False

No se trata de lo mismo, debido a que la variable var1 es un string y la variable var2 es un booleano

In [15]:
#9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9
print(type(var1))
print(type(var2))

<class 'str'>
<class 'bool'>

In [17]:
#10) Asignar a una variable, la suma de un número entero y otro decimal
var_sum=3+6.9
print(var_sum)

9.9

In [19]:
#12) Realizar una operación de suma de un número real y otro complejo
sum_complex=10+10j
print(sum_complex)

(10+10j)

In [24]:
#13) Realizar una operación de multiplicación
print(3*4)

12

In [25]:
#14) Mostrar el resultado de elevar 2 a la octava potencia
print(2**8)

256

In [26]:
#15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla
div1=27/4
print(div1)

6.75

In [28]:
#16) De la división anterior solamente mostrar la parte entera
div_int=27//4
print(div_int)

6

In [29]:
#17) De la división de 27 entre 4 mostrar solamente el resto
div_resto=27%4
print(div_resto)

3

In [30]:
#18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado
resultado=4*div_int+div_resto
print(resultado)

27

In [31]:
#19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas
suma_alfa="Me llamo "+"Dini, mucho gusto :)"
print(suma_alfa)

Me llamo Dini, mucho gusto :)

In [32]:
#20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?
evaluaciion="2"==2
print(evaluaciion)

False

Un string y un número entero no son iguales

In [33]:
#21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera
evaluacion2=int("2")==2
print(evaluacion2)

True

In [34]:
#22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')
a=float("3,8")

ValueError: could not convert string to float: '3,8'

El resutlado es un error debido a que Python tiene establecido que los números float tienen punto y no coma

In [35]:
#23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido
x=3
x=x+6
print(x)

9

In [36]:
#24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?
print(1<<2)

4

Este resultado se da debido a que en cuestion de numero binario el número 1 cambio 2 posiciones hacia la ziquierda
es decir de 1 -> 100, el 100 en binario es el número 4 en numeración decimal. El sistema de numeración binario se refiere a un sistema que incluye solo dos numeros, el 0 y el 1. Este sistema es usado principalmente por los aparatos electrónicos.

In [37]:
#25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?
2+"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Como lo indica Python, el programa no tiene soportado la operación de suma entre valores enteros y string

In [38]:
#26) Realizar una operación válida entre valores de tipo entero y string
2+int("2")

4